<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
     xmlns:flux="http://typo3.org/ns/FluidTYPO3/Flux/ViewHelpers"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

    <f:layout name="Content" />

    <f:section name="Configuration">
        <flux:form id="teufelsCptCntBsTab" label="TYPO3 :: Bootstrap :: Tab" description="Sortable Bootstrap Tab." options="{group: 'teufels', icon: '{f:uri.resource(path: \'Icons/icon-teufels-64x64-in-use.png\')}'}">

            <flux:form.section name="tab">
                <flux:form.object name="tabelement">

                    <flux:field.input name="title" label="Element Titel"/>
                    <flux:field.checkbox name="disable" label="Element nicht anzeigen" />
                    <flux:field.checkbox name="in" label="Element in den Vordergrund rücken" />
                </flux:form.object>
            </flux:form.section>
            <flux:grid>
                <flux:grid.row>
                    <f:if condition="{tab}">
                        <f:for each="{tab}" as="sectionObject" iteration="iteration" key="index">
                            <flux:grid.column name="containerBootstrapTabElement_{index}" label="Content for: {sectionObject.tabelement.title}" />
                        </f:for>
                    </f:if>
                </flux:grid.row>
            </flux:grid>

        </flux:form>
    </f:section>



    <f:section name="Preview">
        <div class="bs-callout bs-callout-warning callout callout-warning t-callout t-callout-warning">
            <h4>Bootstrap Tab</h4>
            <p>Simple Tab with multiple panes.</p>
        </div>
        <!-- uncomment this to use a grid for nested content elements -->
        <flux:widget.grid />
    </f:section>



    <f:section name="Main">

        <v:variable.set name="activeTabIndex" value="0" />
        <f:if condition="{tab}">
            <f:for each="{tab}" as="tabItem" iteration="iteration">
                <f:if condition="{tab.tabItem.active}">
                    <v:variable.set name="activeTabIndex" value="{iteration.index}" />
                </f:if>
            </f:for>
        </f:if>

        <v:variable.set name="sClassOuter" value="{v:variable.typoscript(path: 'plugin.tx_teufels_cpt_cnt_bs_tab.settings.production.bootstrapTab.sClassOuter')}" />
        <v:variable.set name="sClassInner" value="{v:variable.typoscript(path: 'plugin.tx_teufels_cpt_cnt_bs_tab.settings.production.bootstrapTab.sClassInner')}" />
        <v:variable.set name="sContainerElement" value="{v:variable.typoscript(path: 'plugin.tx_teufels_cpt_cnt_bs_tab.settings.production.bootstrapTab.sContainerElement')}" />


        <f:if condition="{sContainerElement} == 'div'">
            <f:then>
                <f:render section="HtmlDiv"
                          arguments="{tab: '{tab}', record: '{record}', activeTabIndex: '{activeTabIndex}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
            </f:then>
        </f:if>

        <f:if condition="{sContainerElement} == 'section'">
            <f:then>
                <f:render section="HtmlSection"
                          arguments="{tab: '{tab}', record: '{record}', activeTabIndex: '{activeTabIndex}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
            </f:then>
        </f:if>

        <f:if condition="{sContainerElement} == 'article'">
            <f:then>
                <f:render section="HtmlArticle"
                          arguments="{tab: '{tab}', record: '{record}', activeTabIndex: '{activeTabIndex}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
            </f:then>
        </f:if>

    </f:section>



    <f:section name="HtmlSection">
        <section class="tab-group {sClassOuter}" id="tab_{record.uid}">
            <f:render section="HtmlTab"
                      arguments="{tab: '{tab}', record: '{record}', activeTabIndex: '{activeTabIndex}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
        </section>
    </f:section>

    <f:section name="HtmlArticle">
        <article class="tab-group {sClassOuter}" id="tab_{record.uid}">
            <f:render section="HtmlTab"
                      arguments="{tab: '{tab}', record: '{record}', activeTabIndex: '{activeTabIndex}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
        </article>
    </f:section>

    <f:section name="HtmlDiv">
        <div class="tab-group {sClassOuter}" id="tab_{record.uid}">
            <f:render section="HtmlTab"
                      arguments="{tab: '{tab}', record: '{record}', activeTabIndex: '{activeTabIndex}', sClassOuter: '{sClassOuter}', sClassInner: '{sClassInner}', sContainerElement: '{sContainerElement}'}" />
        </div>
    </f:section>



    <f:section name="HtmlTab">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <f:if condition="{tab}">
                <f:for each="{tab}" as="sectionObject" iteration="siteration" key="index">
                    <f:if condition="{sectionObject.tabelement.disable}">
                        <f:else>
                            <li role="tabnav" class="{f:if(condition: '{activeTabIndex} == {siteration.index}', then: 'active')}">
                                <a href="#tab_{record.uid}-{siteration.index}" aria-controls="tab_{record.uid}-{siteration.index}" role="tab" data-toggle="tab">
                                    {sectionObject.tabelement.title}
                                </a>
                            </li>
                        </f:else>
                    </f:if>
                </f:for>
            </f:if>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <f:if condition="{tab}">
                <f:for each="{tab}" as="sectionObject" iteration="titeration" key="index">
                    <f:if condition="{sectionObject.tabelement.disable}">
                        <f:else>
                            <div role="tabpanel" class="tab-pane {f:if(condition: '{activeTabIndex} == {titeration.index}', then: 'active')}" id="tab_{record.uid}-{titeration.index}">
                                <flux:content.render area="containerBootstrapTabElement_{index}" />
                            </div>
                        </f:else>
                    </f:if>
                </f:for>
            </f:if>
        </div>

    </f:section>



</div>